@inherits LayoutComponentBase

<div class="page">
    <header class="navbar-header">
        <NavMenu />
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="footer">
        <Footer />
    </footer>
</div>
