@using Microsoft.AspNetCore.Components.Authorization
@implements IDisposable

<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container">
        <NavLink class="navbar-brand" href="">
            <strong class="brand-logo">SPORTSHOP</strong>
        </NavLink>
        
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Hem
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="products">
                        Produkter
                    </NavLink>
                </li>
                
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="orders">
                                Mina Ordrar
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <li class="nav-item">
                    <NavLink class="nav-link position-relative" href="cart">
                        <i class="bi bi-cart3 fs-5"></i>
                        @if (CartItemCount > 0)
                        {
                            <span class="cart-badge">@CartItemCount</span>
                        }
                    </NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <button class="btn btn-outline-danger ms-2" @onclick="HandleLogout">
                                <i class="bi bi-box-arrow-right"></i> Logga ut
                            </button>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="btn btn-primary ms-2" href="login">
                                <i class="bi bi-person-fill"></i> Logga in
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "show";
    private int CartItemCount => CartService?.GetCartItemCount() ?? 0;

    [Inject] AuthenticationStateProvider AuthStateProvider { get; set; } = default!;
    [Inject] NavigationManager NavManager { get; set; } = default!;
    [Inject] CartService CartService { get; set; } = default!;

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        var customProvider = (CustomAuthStateProvider)AuthStateProvider;
        await customProvider.MarkUserAsLoggedOut();
        NavManager.NavigateTo("/");
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}